<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <div class="profile-card" *ngIf="showProfile">
        <div class="header">
          <h2>{{user.FirstName}}</h2>
          <h4>{{user.Email}}</h4>
          <img src="assets/images/account.png" atl="User">
        </div>
      </div>

      <mat-divider></mat-divider>

      <h2 matSubheader>Pages</h2>
      <a mat-list-item routerLink="/">
        <mat-icon>home</mat-icon> Home
      </a>
      <a mat-list-item routerLink="/catalog">
        <mat-icon>library_books</mat-icon> Catalog
      </a>
      <a mat-list-item routerLink="/admin">
        <mat-icon>assignment_ind</mat-icon> Admin
      </a>

      <mat-divider></mat-divider>

      <h2 matSubheader>Tools</h2>
      <a mat-list-item routerLink="/">
        About
      </a>
      <a mat-list-item routerLink="/">
        Contcat Us
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>The book shop</span>

      <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
        <ul fxLayout="row" fxLayoutGap="20px">
          <li *ngIf="showProfile">
            <button mat-button [matMenuTriggerFor]="account">
              <mat-icon>settings</mat-icon>
            </button>
            <mat-menu #account="matMenu">
              <button mat-menu-item routerLink="/account">
                <mat-icon>account_circle</mat-icon>
                My account
              </button>
            </mat-menu>
          </li>
          <li>
            <button mat-button [matMenuTriggerFor]="menu">
              <mat-icon>person_outline</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="signIn()" *ngIf="!showProfile">
                <mat-icon>input</mat-icon>
                Sign in
              </button>
              <button mat-menu-item (click)="signOut()" *ngIf="showProfile">
                <mat-icon>power_settings_new</mat-icon>
                Sign out
              </button>
            </mat-menu>
          </li>
        </ul>
      </div>

    </mat-toolbar>
    <div class="main-content">
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
