<mat-card>
    <mat-card-title>Welcome to The Book Shop</mat-card-title>
    <mat-card-subtitle>Read a book</mat-card-subtitle>
    <mat-card-content>
      <p>
        Bookshop is an online bookstore with a mission to financially support local, independent bookstores.
        We believe that bookstores are essential to a healthy culture. They’re where authors can connect with readers, where we discover new writers, where children get hooked on the thrill of reading that can last a lifetime. They’re also anchors for our downtowns and communities.
      </p>
      <p>
        As more and more people buy their books online, we wanted to create an easy, convenient way for you to get your books and support bookstores at the same time.
      </p>
      </mat-card-content>
</mat-card>
